.footer_img img {
  width: 1270px;
}
.footer {
  background-color: var(--text-black-color);
  padding: 3rem 0;
}

.footer_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
.footer_description__info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer_description__info__title {
  display: flex;
  flex-direction: column;
}
.footer_description__info__title__1 {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}
.footer_description__info__title p,
.footer_description__contact__1 p {
  color: var(--text-light-color);
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
}
.footer_description__info__title__social a i {
  color: var(--text-light-color);
  font-size: 2rem;
  margin-right: 1.5rem;
}
.footer_description__info__adress {
  display: flex;
  gap: 3rem;
}
.footer_description__info__adress__title {
  color: var(--title-white-color);
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
.footer_description__info__adress__1 p,
.footer_description__info__adress__2__item li a,
.footer_description__contact__2__items li a {
  color: var(--title-white-color);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.footer_description__info__adress__1 p span {
  color: var(--text-light-color);
  font-size: 1.6rem;
  line-height: 2.5px;
  font-weight: 400;
}
.footer_description__info__adress__2__item li a,
.footer_description__contact__2__items li a {
  color: var(--text-light-color);
}
.footer_description__info__copy {
  color: var(--text-light-color);
  font-size: 1.8rem;
}
.footer_description__info__copy i {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--primary-color);
}
.footer_description__contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer_description__contact__1__title {
  color: var(--title-white-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin-bottom: 1rem;
}
.footer_description__contact__1__input {
  display: flex;
}
.footer_description__contact__1__input input {
  width: 364px;
  padding: 1rem 2rem;
  border: none;
  height: 4rem;
  border-radius: 5px 0 0 5px;
  font-size: 1.6rem;
  outline: none;
  margin-bottom: 0.5rem;
}
.input-btn {
  height: 4rem;
  line-height: 0;
  padding: 0 4rem;
  border-radius: 0 5px 5px 0;
}
.footer_description__contact__2__title {
  color: var(--title-white-color);
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.footer_description__contact__3 {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.footer_description__contact__3 p {
  font-size: 1.4rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: var(--title-white-color);
}
.scroll-btn {
  padding: 1rem;
  line-height: 0;
}
